body
{
background-color: #fff;
box-sizing: border-box;
}

.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    /* background-color: rgb(53, 162, 159); */
    /* background-color: rgb(202, 237, 255); */
    /* round-color: rgb(142, 172, 205);backg */
    /* background-color: rgb(100, 204, 197); */
    background-color: rgb(100, 153, 233);
    box-sizing: border-box;
    padding: 10px;

}

.brand{
    
    position: absolute;
    top: -10px;
    left: 50px;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
  
}

.learn{
    color: white;
    
}

.ing-Fast{
    font-style: italic;
    color: white;
}

.fotos{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 8px;
    right: 15px;
}

a .my-foto{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.drop-down{
    position: absolute;
    top: 20px;
    right: 100px;
}

a{
    display: inline-block;
    width: 70px;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
  
}

a:hover{
 color: blue;   
 font-style: italic;
 
}




 .kotak1{
    margin: 100px 50px;
    width: 400px;
    height: 200px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
border-radius: 10px;
position: relative;
box-sizing: border-box;


 }

 .kode{
  position: absolute;
  top: 20px;
  left: 50px;
  /* background-color: #4477CE; */
  padding: 8px;
  border-radius: 6px;
  
}

.FE{
    width: 50px;


}

.code{
 color: #fff;
 font-weight: bold;
}


.basic-web{
    font-size: 18px;
    font-weight: bold;
   

}

.judul{
    position: absolute;
    bottom: 80px;
    left: 50px;

}

.sub-judul{
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.penjelasan{
    font-size: 14px;
    color: #84A7A1;
   
    
}

.chevron{
    position: absolute;
    top: 50px;
    right: 10px;
}

.fundamental{
    color: #000;
   
}

.fundamental:hover{
    color: #000;
}

.kotak2{
    margin: 100px 8 0px;
    width: 400px;
    height: 200px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
border-radius: 10px;
position: relative;
top: -303px;
left: 500px;
box-sizing: border-box;

}

.styling{
    color: #000;
}

.styling:hover{
    color: #000;
}

.css{
    position: absolute;
    top: 20px;
    left: 50px;
    /* background-color: #4477CE; */
    padding: 8px;
    border-radius: 6px;
    width: 20px;
    }   


    .BE{
        width: 50px;
    }

    .be-judul{
        position: absolute;
        bottom: 80px;
        left: 50px;
    
    }

    .be{
        font-weight: bold;
    }

   .be-subjudul{
    position: absolute;
    bottom: 50px;
    left: 50px;
   }

   .be-sub{
    font-size: 14px;
    color: #84A7A1;
    
   }

   .flag{
    width: 53px;
    height: 34px;
    background-image: linear-gradient(red 50%, white 50%);
    box-shadow: 0 .2px 0px ;
    position: absolute;
    top: 12px;
    right: 15px;
    border-radius: 6px;
    border: 1px solid #333;
   }