body
{
background-color: #fff;
box-sizing: border-box;
}

.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(24, 61, 61,1);
    box-sizing: border-box;
    padding: 10px;

}

.brand{
    
    position: absolute;
    top: -10px;
    left: 50px;
  
}

.learn{
    color: white;
}

.ing-Fast{
    font-style: italic;
    color: white;
}

.fotos{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 8px;
    right: 15px;
}

a .my-foto{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.drop-down{
    position: absolute;
    top: 20px;
    right: 100px;
}

a{
    display: inline-block;
    width: 70px;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
  
}

a:hover{
 color: blue;   
 font-style: italic;
 
}